<!DOCTYPE html>
<html lang="en">
  
  <head>
        
    <title>WebBlocks Build Server</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://ucla.github.io/WebBlocks/doc/asset/build/css/blocks.css">
    <script type="text/javascript" src="http://ucla.github.io/WebBlocks/doc/asset/build/js/blocks.js"></script>

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="http://ucla.github.io/WebBlocks/doc/asset/build/css/blocks-ie.css">
    <script type="text/javascript" src="http://ucla.github.io/WebBlocks/doc/asset/build/js/blocks-ie.js"></script>
    <![endif]-->
        
  </head>
  
  <body>
    
    <div class="container" style="margin-top:1em;">
    
      <h1>WebBlocks Build Server</h1>

      <%=@body_content%>
    
    </div>
    
  </body>
    
</html>